@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Karla+Tamil+Upright:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$bg-body: #F3F8FF;
$color-text: #02033B;
$bg-yellow: #FFC247;

$font-Inter: "Inter", sans-serif;

$font-bold: 800;
$font-medium: 700;
$font-light: 400;

