@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Karla+Tamil+Upright:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "./resets";
@import "./variables";

@function px-to-rem($px) {
    @return #{$px / 15}rem;
}

@mixin font-style($weight, $size, $line-height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
}

body {
    font-family: $font-Inter;
    color: $color-text;
}

.container {
    width: 100%;
    background-color: $bg-body;
    padding-block: px-to-rem(84);

    .insight {
        max-width: 1065px;
        margin-inline: auto;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        &__heading {
            @include font-style($font-bold, px-to-rem(56), px-to-rem(75));
            letter-spacing: px-to-rem(-1.2);
        }

        &__cards {
            display: flex;
            gap: px-to-rem(48);
            justify-content: center;
            flex-wrap: wrap;
            margin-block: px-to-rem(72);
        }

        &__btn {
            background-color: $bg-yellow;
            padding-block: px-to-rem(16);
            padding-inline: px-to-rem(20);
            border-radius: px-to-rem(42);
            display: flex;
            gap: 12px;
            align-items: center;
            border: none;
            cursor: pointer;

            p {
                @include font-style($font-bold, px-to-rem(19), px-to-rem(22.5));
                color: $color-text;
            }

            svg path {
                fill: $color-text;
            }
        }

        .card {
            $self: ".card";

            max-width: 320px;
            border-radius: px-to-rem(48);
            overflow: hidden;
            background-color: white;

            &__image-container {
                position: relative;

                #{$self}__help {
                    position: absolute;
                    top: 24px;
                    left: 24px;
                    background-color: $bg-body;
                    border-radius: px-to-rem(48);
                    padding-inline: px-to-rem(20);
                    padding-block: px-to-rem(12);
                    font-weight: $font-bold;
                }
            }

            &__image {
                width: 100%;
                aspect-ratio: 16 / 9;
            }

            &__content {
                padding: px-to-rem(48);

                display: flex;
                flex-direction: column;
                gap: px-to-rem(25);
                text-align: left;

                #{$self}__title {
                    @include font-style($font-medium, px-to-rem(23), px-to-rem(30));
                }

                #{$self}__description {
                    @include font-style($font-light, px-to-rem(16), px-to-rem(24));
                }
            }
        }
    }
}